body {
    font-family: Arial, sans-serif;
    background-color: #D4C0AB;
}

header {
    background-color: #C19E77;
    color: rgb(0, 0, 0);
    width: 100%;
    margin-bottom: 15px;
}

.logo-header {
    justify-content: center;
    display: flex;
    gap: 5px;
    align-items: center;
}

.settings {
    padding: 10px;
    font-size: 16px;
    background-color: #5E503F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.settings:hover{
    opacity: 50%;
}

/* Popup Container */
.container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

/* Popup Content */
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup a{
    color: #EAE0D5;
    font-size: 20px;
    background-color: #C9AD93;
}

/* Settings content */
.popup {
    background-color: #D4C0AB;
    color: rgb(0, 0, 0);
}

.option option {
    background-color: #C19E77;
    color: rgb(0, 0, 0);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
}

.option {
    margin-bottom: 15px;
}

.option label {
    display: inline-block;
    width: 100px;
}

.content {
    padding: 20px;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.violet {
    background-color: #8a2be2;
    color: #fff;
}
/* ----- */

.logo-header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-header {
    text-align: center;
}

.one {
    display: flex;
}

.row {
    display: flex;
    flex: 1 1 50%;
    flex-wrap: wrap;
}

.two {
    text-align: center;
    width: 35%;
    background-color: #C9AD93;
    margin: 15px;
    padding: 8px;
    border-radius: 5%;
}

.logo {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

/* Reviews List */
.review-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.review-list {    
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}

.column {
    flex: 0 1 48%;
}

.date {
    float: right;
}

.column {
    min-width: 260px;
    background-color: #C9AD93;
    padding: 10px 15px 10px 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    word-wrap: break-word;
    border: solid 1px;
    border-color: #5E503F;
}

.column p{
    margin-top: 10px;
}

/* STAR COLOR */
.column span{
    font-size: 140%;
    border: 10px;
    color: #21130B;
}

.satisfaction_img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    float: left;
}

:root {
    --primary: #181736;
    --secondary : #252549;  
    --text-color: #fff;
}

.app{
    width: 60%;
    margin: 8px;
    padding: 8px;
    color: var(--text-color); 
    display: grid;
}

.rating{  
    border-radius: 5%;
    align-items: center;
    column-gap: 2rem;
    display: flex;
    background-color:#C9AD93;
    
}

.rating_average{
    height: 80px;
    width: 130px;
    margin: 10px; 
    background-color: var(--secondary);
    padding: 10px;
    padding-bottom: 40px;
    border-radius: .8rem;
    text-align: center;
}

.rating_average h2{
    font-size: 1.5rem;
}

.rating_average p{
    margin-top: .10rem;
    letter-spacing: .1rem;  
}

/* three column layout - STAR RATINGS*/
.row {
    padding-right: 5px;
}

.col-1, .col-3 {
  width: 15%;
  float: left;
  margin-top: 10px;
}

.col-2 {
  width: 70%;
  float: left;
  margin-top: 10px;
}

.col-3 {
  text-align: right;
}

/* clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* bars */
.bar {
  height: 18px;
  background-color: gold;
}


/* FILTER MORE BUTTON */    
.center_filter {
    justify-content: center;
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.filtermore_btn {
  border: none;
  width: 10em;
  height: 3.6em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  background: #1C1A1C;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.sparkle {
  fill: #AAAAAA;
  transition: all 800ms ease;
}

.text {
  font-weight: 600;
  color: #AAAAAA;
  font-size: small;
}

.filtermore_btn:hover {
  background: linear-gradient(0deg,#A47CF3,#683FEA);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
  inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
  0px 0px 0px 4px rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.filtermore_btn:hover .text {
  color: white;
}

.filtermore_btn:hover .sparkle {
  fill: white;
  transform: scale(1.2);
} 